[colors]
background = #2F343F
background-alt = #444
foreground = #dfdfdf
foreground-alt = #55
primary = #ffb52a
secondary = #e60053
alert = #bd2c40



; ***************
; *  MAIN BAR   *
; ***************

[bar/bar1]
monitor = DP-4
width = 100%
height = 24
offset-x = 0
offset-y = 0

background = ${colors.background}
foreground = ${colors.foreground}

overline-size = 2
overline-color = #f00
underline-size = 2
underline-color = #00f

border-bottom = 2
border-bottom-color = #333

spacing = 1
padding-left = 0
padding-right = 2
module-margin-left = 1
module-margin-right = 2

font-0 = fixed:pixelsize=10;0
font-1 = unifont:size=6:heavy:fontformat=truetype;-2
font-2 = siji:pixelsize=10;0

tray-position = right
tray-padding = 8


;wm-restack = bspwm
;wm-restack = i3

;override-redirect = true

;scroll-up = bspwm-desknext
;scroll-down = bspwm-deskprev

;scroll-up = i3wm-wsnext
;scroll-down = i3wm-wsprev


; MODULES

modules-left = workspaces
modules-center = clock
modules-right =

; END MODULES

; ***************
; *  2ND BAR    *
; ***************

[bar/bar2]
monitor = DVI-D-1
width = 100%
height = 24
offset-x = 0
offset-y = 0

background = ${colors.background}
foreground = ${colors.foreground}

overline-size = 2
overline-color = #f00
underline-size = 2
underline-color = #00f

border-bottom = 2
border-bottom-color = #333

spacing = 1
padding-left = 0
padding-right = 2
module-margin-left = 1
module-margin-right = 2

font-0 = fixed:pixelsize=10;0
font-1 = unifont:size=6:heavy:fontformat=truetype;-2
font-2 = siji:pixelsize=10;0

tray-position =


;wm-restack = bspwm
;wm-restack = i3

;override-redirect = true

;scroll-up = bspwm-desknext
;scroll-down = bspwm-deskprev

;scroll-up = i3wm-wsnext
;scroll-down = i3wm-wsprev


; MODULES

modules-left =
modules-center =
modules-right = net cpu ram

; END MODULES



; ***************
; *   MODULES   *
; ***************

[module/workspaces]
type = internal/xworkspaces

[module/clock]
type = internal/date
interval = 1.0
date = %A %e %B %Y %l:%M %P

[module/cpu]
type = internal/cpu
interval = 2
format-prefix-foreground = ${colors.foreground-alt}
label = CPU %percentage%

[module/ram]
type = internal/memory
interval = 2
format-prefix-foreground = ${colors.foreground-alt}
label = RAM %percentage_used%

[module/net]
type = internal/network
interface = enp0s25
interval = 1.0

format-connected = <label-connected>
format-disconnected = <label-disconnected>

label-connected = D %downspeed:8%   U %upspeed:8%
label-disconnected = %ifname% disconnected
label-disconnected-foreground = ${colors.foreground-alt}
